{% extends "blog/base.html" %}
{% block content %}

<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ profile.image.url }}">
    <div class="media-body">
      <h2 class="account-heading">
      <!-- other profile info  -->
      </h2>
      <h5 class="text-secondary">
        <!-- other profile info  -->
      </h5>
      <p class="text-secondary">
        <!-- other profile info  -->
      </p>
    </div>
  </div>
</div>

{% endblock content %}
